<div class="form-group">
  <label for="tags">Tags</label>
  <div class="input-group">
    <input type="text" class="form-control" id="tagInput" placeholder="Enter a tag">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="addTagBtn">+</button>
    </div>
  </div>
  <div class="mt-2" id="tagSuggestions"></div>
  <div class="mt-2" id="selectedTags">
    <% const currentTags = locals.article ? article.tags : []; %>
    <% currentTags.forEach(tag => { %>
    <span class="badge badge-primary mr-2 mb-2">
      <%= tag %>
      <button type="button" class="close ml-1" onclick="removeTag('<%= tag %>')">&times;</button>
    </span>
    <% }) %>
  </div>
  <input type="hidden" name="tags" id="tagsField" value="<%= locals.article ? article.tags.join(',') : '' %>">
</div>