<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Types</title>
  <!-- Bootstrap 4.0.0 CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <!-- Include Navbar -->
  <%- include('_navbar') %>

  <div class="container mt-5">
    <h1 class="text-center">Article Types</h1>
    <p class="text-center">This is the Article Types page where you can manage all article types.</p>

    <!-- Add Article Type Form -->
    <div class="mt-4">
      <h3>Add New Article Type</h3>
      <form action="/article-types" method="POST">
        <div class="form-group">
          <label for="articleType">Article Type</label>
          <input type="text" class="form-control" id="articleType" name="articleType" placeholder="Enter article type" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Article Type</button>
      </form>
    </div>

    <!-- List of Article Types -->
    <div class="mt-5">
      <h3>Existing Article Types</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Article Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% articleTypes.forEach(type => { %>
          <tr>
            <td><%= type.articleType %></td>
            <td>
              <form action="/article-types/delete/<%= type._id %>" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Bootstrap JS and Dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9JoAPpSaXr69l+YtQpD0Knw1T9e5z5T5z5T5z5" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>